<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write your Comment</title>
</head>
<body>
    <nav>
        <h1>Write your comment</h1>
    </nav>

    <!-- Adds Comment -->
    <main>
        <form action="/posts/<%= post._id %>/comments" method="POST">
          <p>
            <textarea type="text" name="commentbody" placeholder="Write your comment here..."></textarea>
          </p>
          
          <input type="submit" value="Create" />
        </form>
      </main>
</body>
</html>


